*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  hsl(0, 0%, 98%);
}
/* general styliong */
button{
font-size: 
}
/* styling the workflow */
header{
    min-height 10vh;
    display: flex;
    margin: 2rem auto auto;
    width: 95%;
    align-items: center;
}
/* style the 3 main div element inside the header */
.nav-list{
  display: flex;
 align-items: center;
 flex: 1;
 margin-left: 2rem;
}
.nav-list-items{
   display: flex;
   list-style: none;

}
.nav-list-items li{
    margin: 1rem;
}
.nav-text{
    display: flex;
    align-items: center;
}
.nav-text h4,button{
margin: 1rem
}


/* dropdowns are currently displayed none and will be shown with javascript */
.features-dropdown{
   display:none
}
.comp-dropdown{
   display: none;
}
